:root {
    --color-white: #fff;
    --color-red: #e63636;
    --color-dark1: #181818;
    --color-dark2: #1e1e1e;
    --color-purple1: #9333FF;
    --color-purple2: indigo;
}

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-dark1);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    background-color: var(--color-dark2);
    padding: 32px;
    border-radius: 10px;
    min-width: 30%;
    overflow: auto;
}

h1{
    margin-bottom: 1rem;
    text-align: center;
}

.content form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.span-required {
    font-size: 12px;
    margin: 3px 0 0 1px;
    color: var(--color-red);
    display: none;

}

.inputs {
    padding: 8px 5px;
    outline: none;
    border-radius: 5px;
    background-color: var(--color-dark1);
    border: 2px solid var(--color-dark1);
    color: var(--color-white);
    width: 100%;
    box-sizing: border-box;
    transition: .3s;
}

.inputs:focus{
    border-color: #00008b;
}

.box-select{
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    gap: 1rem;
}

button[type="submit"]{
    padding: 1rem; /*1rem= 16px, o padrao e 14px */
    font-size: 1rem;
    outline: none; /*tirar a linha de fora do box */
    border: none; /*tirar as bordas */
    border-radius: 5px; /*arrendondar as bordas */
    margin-top: 1rem; /* para o espaço entre os formularios */
    background-color: #201657;
    color: var(--color-white);
    cursor: pointer; /*trocar o ponteiro quando passar por cima do button */
    transition: .3s; /*delay na animação */

}

button[type="submit"]:hover { /*efeito aplicavel no hover para mudança de efeito ao passar o mouse em cima */
    background-color: #00008b;
}

@media screen and (max-width: 576px) {
        .box-select{
            flex-direction: column;
            gap: 5px;
        } 

        /* @media screen and -> serve para analisar a largura da pagina ate determinado pixel;
        max-width: 576px ( quer dizer que quando a pagina diminuir ate 576px
        as colunas vai vao ficar um abaixo da outra, por isso o ( flex-direction: column; );
        na parte superior o ( box-select ) esta com o display flex, por isso usei o flex-direction: column;
        (box-select) e a class que está na div com as checkbox; */
    
}
